body {
      background-color: white;
  }
  
  .mapdiv{
   width: 100%;
  margin: auto;
  }
  
  .mapdiv path {
      fill: #e0e0e0;
      stroke: gray;
      stroke-width: 1px;
      transition: fill 0.3s;
  }
  .mapdiv :hover{
      fill: #8e8b66;
  }
  #tooltip {
      position: relative;
      display: flex;
       background: black;
      border: 2px solid black;
      padding: 5px;
      font-size:12px;color:#fff;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;  
  }
  #tooltip2 {
      position: relative;
      display: flex;
       background: black;
      border: 1px solid black;
      padding: 5px;
      font-size:12px;color:#fff;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;  
  }
  
